In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import seaborn as sns
data = sns.load_dataset("titanic")

new_data = data.dropna()
new_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True

In [3]:
print(new_data.isna().sum())
new_data = pd.get_dummies(new_data, columns=['sex'], drop_first=True)
new_data.head()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

,survived,pclass,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,sex_male
1,1,1,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,False
3,1,1,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,False
6,0,1,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True,True
10,1,3,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False,False
11,1,1,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True,False

In [4]:
#Train model to predict who dies given the class, remember this is a classification model
features = ['pclass', 'age', 'sibsp', 'parch', 'fare', 'sex_male']
target = 'survived'

X = new_data[features]
y = new_data[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=16)

model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(y_pred)

[1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 0 0 0 1 1 0 0 0 1 1 1 0 1 0 0 1 1 0 0 1]

In [16]:
# Initialize storage list
passenger_records = []

while True:
    print("\n--- Titanic Survival Prediction ---")

    # Collect user input
    p_name = input("Enter Passenger Name: ")
    pclass = int(input("Enter Passenger Class (1 = 1st, 2 = 2nd, 3 = 3rd): "))
    age = float(input("Enter Age: "))
    sibsp = int(input("Enter Number of Siblings/Spouses Aboard: "))
    parch = int(input("Enter Number of Parents/Children Aboard: "))
    fare = float(input("Enter Fare Paid: "))
    sex_input = input("Enter Sex (male/female): ").strip().lower()
    sex_male = 1 if sex_input == "male" else 0

    # Create input DataFrame
    input_df = pd.DataFrame([{
        'pclass': pclass,
        'age': age,
        'sibsp': sibsp,
        'parch': parch,
        'fare': fare,
        'sex_male': sex_male
    }])

    # Make prediction
    prediction = model.predict(input_df)[0]
    survived = "Survived" if prediction == 1 else "Did not survive"
    print(f"{p_name} {survived}")

    # Save record
    passenger_records.append({
        "Name": p_name,
        "Class": pclass,
        "Age": age,
        "Siblings/Spouses": sibsp,
        "Parents/Children": parch,
        "Fare": fare,
        "Sex": sex_input,
        "Survival": survived
    })

    # Ask if they want to enter another
    cont = input("Do you want to enter another passenger? (yes/no): ").strip().lower()
    if cont != "yes":
        break

# Display all records
print("\n--- All Passenger Predictions ---")
records_df = pd.DataFrame(passenger_records)
print(records_df.to_string(index=False))

--- Titanic Survival Prediction ---
Enter Passenger Name: Bruce Reid
Enter Passenger Class (1 = 1st, 2 = 2nd, 3 = 3rd): 2
Enter Age: 60
Enter Number of Siblings/Spouses Aboard: 1
Enter Number of Parents/Children Aboard: 6
Enter Fare Paid: 45
Enter Sex (male/female): male
Bruce Reid Did not survive
Do you want to enter another passenger? (yes/no): yes

--- Titanic Survival Prediction ---
Enter Passenger Name: Ruth Reid
Enter Passenger Class (1 = 1st, 2 = 2nd, 3 = 3rd): 2
Enter Age: 57
Enter Number of Siblings/Spouses Aboard: 1
Enter Number of Parents/Children Aboard: 6
Enter Fare Paid: 60
Enter Sex (male/female): female
Ruth Reid Survived
Do you want to enter another passenger? (yes/no): no

--- All Passenger Predictions ---
      Name  Class  Age  Siblings/Spouses  Parents/Children  Fare    Sex        Survival
Bruce Reid      2 60.0                 1                 6  45.0   male Did not survive
 Ruth Reid      2 57.0                 1                 6  60.0 female        Survived